body{
    display: flex;
    flex-direction: column;
    /* padding-top: 15%; */
}
 #container{
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    padding: 20%;
    align-items: center;

 }

button{
    margin-top: 5%;
    width: 50%;
    padding: 10px;
    background-color: rgb(103, 103, 219);
    color: white;
    border: 0px;
} 
