body{
    display: flex;
    flex-direction: column;
    /* padding-top: 15%; */
}
 #container{
    display: flex;
    flex-direction: column;
    padding: 13%;
    align-items: center;

 }

button{
    margin-top: 2%;
    width: 10%;
    padding: 10px;
    background-color: rgb(103, 103, 219);
    color: white;
    border: 0px;
} 

#date{
    width: 20%;
}

#result{
    font-size: 24px;
}